table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    margin: 50px;
}

td{
    width: 500px;
    height: 50px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    
}

th:first-child{
    background: greenyellow;
}

td:first-child{
    font-size: 24px;
    background: rgb(65, 100, 133);
}

.reactTable > thead {
    background: greenyellow;
    font-size: 20px;
     
}

.reactTable > td{
    font-size: 30px;
    
}